body {
    height: 100vh;
    background: linear-gradient(0deg,lightblue,#e1e1ff);
}
.clicker-button{
    font-family: Dosis;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.30);
    border: 1px solid rgba(0,0,0,0.4);
    width: 100px;
    height: 100px;
    border-radius: 16px;
    font-size: 25px;
}
.point{
    font-family: Dosis;
    font-size: 20px;
}
.leverup{
    font-family: Dosis;
    width: 65px;
    height: 65px;
}

#leverup_button{
    width: 200px;
    height: 75px;
    background: white;
    text-align: left;
}
#leverup_button.notbuy{
    width: 200px;
    height: 75px;
    background: gray;
    text-align: left;
}
.needpoint{
    text-align: right;
    font-size: 35px;
    font-family: Dosis;
}